
{% extends 'crud/base.html' %}

{% block content %}


<div class="row">
       
  <div class="col   mt-3 d-flex  justify-content-center">



    {% if request.user.is_authenticated %}
      <div class="border p-2 mb-2  ">
        {%  if type == "add" %}
        <form  action="{% url 'home' %}" method="post">
        {% csrf_token %}
        {{form }}
        <input class=" btn btn-outline-primary btn-block btn-lg"   type="submit" value="add text">
        </form>
        {%  elif type == "update" %}
            <form   method="post">
            {% csrf_token %}
            {{form1}}
            <input  class="btn btn-outline-primary btn-block btn-lg " type="submit" value="update text">
            </form>
        {%   endif %}
        <br>
      </div>
    {% endif %}
  
  
  </div>

  {%  if type == "add" %}
         <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">text</th>
              <th scope="col">n_ubdate</th>
              <th scope="col">by</th>
              <th scope="col"> update</th>
              <th scope="col">delete</th>
            </tr>
          </thead>
          <tbody>
            <tr>


              {% for i in data %}




              <tr>
                <td>{{forloop.counter}}</td>
              <!-- <td>{{i.id}}</td> -->
              <td>{{i.text}}</td>
              <td>{{i.n_update}}</td>

              <td>@{{i.author}}</td>
              {% if i.author == request.user %}
                  <td><a href="{% url 'update' i.id %}"><i class='bx bxs-pencil'></i> update</a></td>
                  <td><a href="{% url 'delete' i.id %}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                      <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                    </svg> delete</a>
                  </td>
              {% else %}
              <td>--</td>
              <td>--</td>
              {% endif %}
               </tr>
              {% endfor %}

           
         
          </tbody>
        </table>
  {% endif %} 
   
</div>


{% endblock  %}







