{% extends 'base.html' %} {% block app %} app{% endblock %} {% block content %}
{% for i in data %}

<div class="card m-2" style="width: 18rem">
  <img src="{{i.image.url}}" class="card-img-top" alt="..." />
  <div class="card-body">
    <h1>{{i.title}}</h1>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card’s content. Some quick example text to build on the card title and
      make up the bulk of the card’s content.
    </p>
  </div>
</div>

{% endfor %} {% endblock %}
